*.fastq
*.fastq.gz
Adapters
Genomes
HCBC_alignment_quantification.pdf/
*tar.gz
Pipeline_test_C_elegans
Pre-eclampsia_dataset_raw_and_processed/Pre_eclampsia_mice_rnasplice_results/star_salmon
Pre-eclampsia_dataset_raw_and_processed/Pre_eclampsia_mice_rnasplice_results/trimgalore
Pre-eclampsia_dataset_raw_and_processed/Pre_eclampsia_mice_rnasplice_results/salmon
Pre-eclampsia_dataset_raw_and_processed/Pre_eclampsia_mice_rnasplice_results_SalmonSUPPA/genome
Pre-eclampsia_dataset_raw_and_processed/Pre_eclampsia_mice_rnasplice_results/dexseq_exon/results/DEXSeqResults.PREECLAMPSIA_CONTROL.rds
Pre-eclampsia_dataset_raw_and_processed/Pre_eclampsia_mice_rnasplice_results/dexseq_exon/results/DEXSeqDataSet.PREECLAMPSIA_CONTROL.rds
Pre-eclampsia_dataset_raw_and_processed/Pre_eclampsia_mice_rnasplice_results/edger/*.rds
Pre-eclampsia_dataset_raw_and_processed/Pre_eclampsia_mice_rnasplice_results/misopy
Pre-eclampsia_dataset_raw_and_processed/Pre_eclampsia_mice_rnasplice_results/rmats/PREECLAMPSIA-CONTROL/rmats_temp
.Rproj.user
Pre-eclampsia_dataset_raw_and_processed/Pre_eclampsia_analyses/results/all_variables_DEXSeq_DEU_res.rds
Pre-eclampsia_dataset_raw_and_processed/Pre_eclampsia_analyses/results/all_variables_DEXSeq_DTU.rds